force-app/main/default/flows/MAJ_MP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>MAJ_MP</name>
        <label>MAJ MP</label>
        <locationX>310</locationX>
        <locationY>154</locationY>
        <defaultConnectorLabel>[Résultat par défaut]</defaultConnectorLabel>
        <rules>
            <name>Etat_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EtatPudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJ_MP_Actuel</targetReference>
            </connector>
            <label>Etat 0</label>
        </rules>
        <rules>
            <name>Etat_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EtatPudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJ_MP_Actuel1</targetReference>
            </connector>
            <label>Etat 1</label>
        </rules>
        <rules>
            <name>Etat_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EtatPudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJ_MP_Actuel2</targetReference>
            </connector>
            <label>Etat 2</label>
        </rules>
        <rules>
            <name>Etat_4_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EtatPudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EtatPudo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MAJMPActuel3</targetReference>
            </connector>
            <label>Etat 4, 5</label>
        </rules>
    </decisions>
    <formulas>
        <name>OppositeTechMPAssigned</name>
        <dataType>Boolean</dataType>
        <expression>! {!TechMPAssigned}</expression>
    </formulas>
    <interviewLabel>MAJ MP  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MAJ MP</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Verifier_Etat</name>
        <label>Vérifier Etat</label>
        <locationX>315</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MAJ_MP</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>EtatPudo</assignToReference>
            <field>Etat__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TechMPAssigned</assignToReference>
            <field>Tech_MP_Assigned__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>MAJ_MP_Actuel</name>
        <label>MAJ MP Actuel</label>
        <locationX>113</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>MAJ_Tech_MP_Assigned</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Macroprofil_actuel__c</field>
            <value>
                <elementReference>MacroprofilReferenceID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MAJ_MP_Actuel1</name>
        <label>MAJ MP Actuel</label>
        <locationX>297</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>MAJ_Tech_MP_Assigned</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Macroprofil_actuel__c</field>
            <value>
                <elementReference>MacroprofilReferenceID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MAJ_MP_Actuel2</name>
        <label>MAJ MP Actuel</label>
        <locationX>493</locationX>
        <locationY>294</locationY>
        <connector>
            <targetReference>MAJ_Tech_MP_Assigned</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Macroprofil_actuel__c</field>
            <value>
                <elementReference>MacroprofilReferenceID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MAJ_Tech_MP_Assigned</name>
        <label>MAJ Tech MP Assigned</label>
        <locationX>320</locationX>
        <locationY>509</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_MP_Assigned__c</field>
            <value>
                <elementReference>OppositeTechMPAssigned</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MAJMPActuel3</name>
        <label>MAJ MP Actuel</label>
        <locationX>632</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>MAJ_Tech_MP_Assigned</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut_de_modification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Définitive</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_de_fin_de_modification__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Macroprofil_de_reference__c</field>
            <value>
                <elementReference>MacroprofilActuelID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Verifier_Etat</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EtatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EtatPudo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MacroprofilActuelID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MacroprofilReferenceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TechMPAssigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
