force-app/main/default/flows/Traitement_retour_Message_PDA_Devoye.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssDevoy_Partiel_cause_ferme_reponse_B</name>
        <label>Dévoyé Partiel cause ferme reponse B</label>
        <locationX>1751</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>Alert.Missguided_requalification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Source_de_la_modification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.nom_de_la_cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passage du transporteur en dehors des horaires d’ouverture</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignation_Trait_Vrai</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssDevoy_partiel_cause_refus_reponse_B</name>
        <label>Devoyé partiel cause refus reponse B</label>
        <locationX>582</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Alert.Missguided_requalification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Source_de_la_modification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.nom_de_la_cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignation_Requete_Surcharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssDevoy_partiel_cause_refus_reponse_C</name>
        <label>Devoyé partiel cause refus reponse C</label>
        <locationX>1136</locationX>
        <locationY>1196</locationY>
        <assignmentItems>
            <assignToReference>Alert.Missguided_requalification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.nom_de_la_cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passage du transporteur en dehors des horaires d’ouverture / qualif refus</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Source_de_la_modification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignation_Trait_Vrai</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssDevoye_Complet_Cause_Refus_reponse_B</name>
        <label>Devoyé Complet Cause Refus reponse B</label>
        <locationX>2064</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>Alert.nom_de_la_cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Source_de_la_modification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Missguided_requalification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAcase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssDevoye_complet_cause_refus_reponse_C</name>
        <label>Devoyé complet cause refus reponse C</label>
        <locationX>2191</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>Alert.Missguided_requalification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.nom_de_la_cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passage du transporteur en dehors des horaires d’ouverture / qualif refus</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Source_de_la_modification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignation_Trait_Vrai</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignation_Requete_Surcharge</name>
        <label>Assignation Requête Surcharge</label>
        <locationX>415</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vie du relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alerte surcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID_TM_FR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignation_Trait_Vrai</name>
        <label>Assignation Traité Vrai</label>
        <locationX>1840</locationX>
        <locationY>1476</locationY>
        <assignmentItems>
            <assignToReference>Alert.Retour_Msg_PDA_Trait__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alert_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAcase</name>
        <label>CreateAcase</label>
        <locationX>1960</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>Case.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordID_TM_FR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vie du relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alerte surcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseDevpartiel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pudo_Ferm_pendant_heure_ouverture</name>
        <label>Pudo Fermé pendant heure ouverture</label>
        <locationX>1415</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>Alert.Source_de_la_modification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Missguided_requalification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignation_Trait_Vrai</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Requalification_devoye_complet_cause_fermeture_ResB</name>
        <label>Requalification dévoyé complet – cause fermeture resp B</label>
        <locationX>2664</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>Alert.Missguided_requalification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.nom_de_la_cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passage du transporteur en dehors des horaires d’ouverture</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Source_de_la_modification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignation_Trait_Vrai</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NombreJoursFinPeriode</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>QueueSurcharge</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G58000001ubpa</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Augmentation seuil</stringValue>
        </value>
    </constants>
    <constants>
        <name>TMFRRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121q0000004RvW</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DecisionTypeAlert</name>
        <label>DecisionTypeAlert</label>
        <locationX>1878</locationX>
        <locationY>344</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Devoye_complet_cause_fermeture_reponse_B</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_missguided_full_cause_closure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requalification_devoye_complet_cause_fermeture_ResB</targetReference>
            </connector>
            <label>Dévoyés complet cause fermeture reponse B</label>
        </rules>
        <rules>
            <name>Devoye_complet_cause_refus_reponse_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_missguided_full_cause_refuse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssDevoye_complet_cause_refus_reponse_C</targetReference>
            </connector>
            <label>Dévoyés complet cause refus reponse C</label>
        </rules>
        <rules>
            <name>Devoye_complet_cause_refus_reponse_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_missguided_full_cause_refuse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssDevoye_Complet_Cause_Refus_reponse_B</targetReference>
            </connector>
            <label>Dévoyés complet cause refus reponse B</label>
        </rules>
        <rules>
            <name>Devoye_partiel_cause_fermeture_reponse_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.response_missguided_Part_cause_closure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssDevoy_Partiel_cause_ferme_reponse_B</targetReference>
            </connector>
            <label>Dévoyés partiel cause fermeture reponse B</label>
        </rules>
        <rules>
            <name>Devoye_partiel_cause_refus_Reponse_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_missguided_part_cause_refuse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssDevoy_partiel_cause_refus_reponse_C</targetReference>
            </connector>
            <label>Dévoyés partiel cause refus Reponse C</label>
        </rules>
        <rules>
            <name>Devoyes_partiel_cause_refus_reponse_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_missguided_part_cause_refuse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssDevoy_partiel_cause_refus_reponse_B</targetReference>
            </connector>
            <label>&quot;Dévoyés partiel cause refus reponse B</label>
        </rules>
        <rules>
            <name>Devoye_partiel_cause_fermeture_reponse_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_missguided_Part_cause_closure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pudo_Ferm_pendant_heure_ouverture</targetReference>
            </connector>
            <label>Devoyé partiel cause fermeture reponse A</label>
        </rules>
        <rules>
            <name>Devoye_Full_cause_fermeture_reponse_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_missguided_full_cause_closure__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pudo_Ferm_pendant_heure_ouverture</targetReference>
            </connector>
            <label>Devoyé Full cause fermeture reponse A</label>
        </rules>
        <rules>
            <name>Devoye_Full_cause_refus_reponse_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_missguided_full_cause_refuse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pudo_Ferm_pendant_heure_ouverture</targetReference>
            </connector>
            <label>Devoye Full cause refus reponse A</label>
        </rules>
        <rules>
            <name>Devoye_Partial_cause_refus_reponse_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_missguided_part_cause_refuse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pudo_Ferm_pendant_heure_ouverture</targetReference>
            </connector>
            <label>Devoye Partial cause refus reponse A</label>
        </rules>
    </decisions>
    <interviewLabel>Traitement retour Message PDA Surcharge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Traitement retour Message PDA Devoyé</label>
    <loops>
        <name>LoopAlert</name>
        <label>LoopAlert</label>
        <locationX>570</locationX>
        <locationY>40</locationY>
        <assignNextValueToReference>Alert</assignNextValueToReference>
        <collectionReference>ListAlertInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recherche_information_Pudo</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>245</locationX>
        <locationY>721</locationY>
        <connector>
            <targetReference>Assignation_Trait_Vrai</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCaseDevpartiel</name>
        <label>Create case devoye partiel</label>
        <locationX>1846</locationX>
        <locationY>930</locationY>
        <connector>
            <targetReference>Assignation_Trait_Vrai</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recherche_information_Pudo</name>
        <label>Recherche information Pudo</label>
        <locationX>1010</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionTypeAlert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AnAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_operationnel_1__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recherche_recordtype_TM_Fr</name>
        <label>Recherche recordtype TM_Fr</label>
        <locationX>218</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TM_FR</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordID_TM_FR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Alert_update</name>
        <label>Alert update</label>
        <locationX>177</locationX>
        <locationY>1100</locationY>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <inputReference>Alert</inputReference>
    </recordUpdates>
    <startElementReference>Recherche_recordtype_TM_Fr</startElementReference>
    <status>Active</status>
    <variables>
        <name>Adate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>AnAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ATask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListAlertInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListAlerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListCaseCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListDateFlow</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListPeriode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>ListTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Periode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>RecordID_TM_FR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
