force-app/main/default/flows/Traitement_devoye_Full.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Appel message PDA demande d&#39;envoi de questionnaire</description>
        <name>AppelMsgPDA</name>
        <label>AppelMsgPDA</label>
        <locationX>732</locationX>
        <locationY>357</locationY>
        <actionName>WsRequestSurvey</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <inputParameters>
            <name>listAlert</name>
            <value>
                <elementReference>AlertWsMsgPDA</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AlertWs</name>
        <label>AlertWs</label>
        <locationX>1059</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>AlertWsMsgPDA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppelMsgPDA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignation_creation_requete_devoye_partiel</name>
        <label>Assignation creation requête dévoyé partiel</label>
        <locationX>959</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeID_TM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Colis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dévoyés 100% cause relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ceation_de_requete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentCase</name>
        <label>AssignmentCase</label>
        <locationX>1431</locationX>
        <locationY>925</locationY>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeID_TM.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Colis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dévoyés 100% cause relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ceation_de_requete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSearchcaseToAcase</name>
        <label>AssignSearchcaseToAcase</label>
        <locationX>1526</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>Acase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cloture_de_la_requete_existante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cloture_de_la_requete_existante</name>
        <label>Cloture de la requête existante</label>
        <locationX>1358</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>Acase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Acase.Traite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mise_jour_requete_devoye_partiel</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NombreJoursFinPeriode</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>QueueSurcharge</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G58000001ubpa</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Augmentation seuil</stringValue>
        </value>
    </constants>
    <constants>
        <name>TMFRRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120D0000004W5B</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DecisionTypeAlert</name>
        <label>DecisionTypeAlert</label>
        <locationX>1326</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsMissguidedFullindexSup0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.recurrence_index__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_case_Missguided_full</targetReference>
            </connector>
            <label>IsMissguided Full With Index Greater than 0</label>
        </rules>
        <rules>
            <name>IsMissguided_Full_With_Index_equals_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.recurrence_index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlertWs</targetReference>
            </connector>
            <label>IsMissguided Full With Index equals 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Existing_Full_Missguided_case</name>
        <label>Decision Resultat Requête existante</label>
        <locationX>1809</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoFull_Missguided_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentCase</targetReference>
            </connector>
            <label>Pas de requête dévoyé complet</label>
        </rules>
        <rules>
            <name>Existing_Full_MissguidedFull_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSearchcaseToAcase</targetReference>
            </connector>
            <label>Existance de requête dévoyé complet</label>
        </rules>
    </decisions>
    <description>Flow de traitement des dévoyé complet reçu de la BI</description>
    <interviewLabel>Traitement dévoyé Full {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Traitement dévoyé Full</label>
    <loops>
        <name>LoopAlert</name>
        <label>LoopAlert</label>
        <locationX>611</locationX>
        <locationY>274</locationY>
        <assignNextValueToReference>Alert</assignNextValueToReference>
        <collectionReference>ListAlertInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recherche_informations_pudo_rattache</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Ceation_de_requete</name>
        <label>Ceation de requête</label>
        <locationX>730</locationX>
        <locationY>644</locationY>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recherche_informations_pudo_rattache</name>
        <label>Recherche informations pudo rattaché</label>
        <locationX>1061</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionTypeAlert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AnAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_operationnel_1__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_case_Missguided_full</name>
        <label>Recherche requête Dévoyé full</label>
        <locationX>1762</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result_Existing_Full_Missguided_case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Colis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sous_motif_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dévoyés 100% cause relais</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SearchCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>recurrence_index__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Recherche du type d&#39;enregistrement TM_FR</description>
        <name>Searching_recordTypeID</name>
        <label>Searching recordTypeID</label>
        <locationX>527</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TM_FR</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordTypeID_TM</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Mise_jour_requete_devoye_partiel</name>
        <label>Mise à jour requête devoyé partiel</label>
        <locationX>1142</locationX>
        <locationY>565</locationY>
        <connector>
            <targetReference>Assignation_creation_requete_devoye_partiel</targetReference>
        </connector>
        <inputReference>Acase</inputReference>
    </recordUpdates>
    <startElementReference>Searching_recordTypeID</startElementReference>
    <status>Active</status>
    <variables>
        <name>Acase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Adate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>AlertWsMsgPDA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>AnAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ATask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseMissroutedPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListAlertInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListAlerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListAlertWs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListAppelMsgPDAAlert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListCaseCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListCaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>List of created Date</description>
        <name>ListCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListDateFlow</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListPeriode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>ListTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>MissguidCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Periode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>recordTypeID_TM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Variable de stockage de requête dévoyé full dont status différents de attente d’attribution ou terminé</description>
        <name>SeachCaseMissroutedFull</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Variable to store alert</description>
        <name>SearchAlert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>SearchCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
