src/flows/Traitement_devoyer_partiel.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envoie_MsgPDA_Devoye_Partiel</name>
        <label>Envoie MsgPDA Devoye Partiel</label>
        <locationX>515</locationX>
        <locationY>757</locationY>
        <actionName>WsRequestSurvey</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <inputParameters>
            <name>listAlert</name>
            <value>
                <elementReference>AlertWsMsgPDA</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assignation_Appel_web_service_MsgPDA</name>
        <label>Assignation Appel web  service MsgPDA</label>
        <locationX>635</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>AlertWsMsgPDA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Envoie_MsgPDA_Devoye_Partiel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignation_creation_requete_devoye_partiel</name>
        <label>Assignation creation requête dévoyé partiel</label>
        <locationX>1057</locationX>
        <locationY>1215</locationY>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeTM_Fr.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Colis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dévoyés partiels cause relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ceation_de_requete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentCase</name>
        <label>AssignmentCase</label>
        <locationX>394</locationX>
        <locationY>1459</locationY>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeTM_Fr.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Colis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dévoyés partiels cause relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ceation_de_requete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSearchcaseToAcase</name>
        <label>AssignSearchcaseToAcase</label>
        <locationX>1659</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>Acase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseMissroutedPart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cloture_de_la_requete_existante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cloture_de_la_requete_existante</name>
        <label>Cloture de la requête existante</label>
        <locationX>1420</locationX>
        <locationY>1215</locationY>
        <assignmentItems>
            <assignToReference>Acase.Traite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Acase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Acase.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mise_jour_requete_devoye_partiel</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NombreJoursFinPeriode</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>QueueSurcharge</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G58000001ubpa</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Augmentation seuil</stringValue>
        </value>
    </constants>
    <constants>
        <name>TMFRRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120D0000004W5B</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_envoie_message_PDA</name>
        <label>Décision envoie message PDA</label>
        <locationX>835</locationX>
        <locationY>637</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Envoie_Message_PDA_DevPartiel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMissRoutedFull.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignation_Appel_web_service_MsgPDA</targetReference>
            </connector>
            <label>Decision Envoie Message PDA DevPartiel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_requete_devoye_complet_existant</name>
        <label>Decision requête devoyé complet existant</label>
        <locationX>1788</locationX>
        <locationY>1450</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_requ_te_devoy_complet_inexistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentCase</targetReference>
            </connector>
            <label>Decision requête devoyé complet inexistant</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionTypeAlert</name>
        <label>DecisionTypeAlert</label>
        <locationX>995</locationX>
        <locationY>538</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsMissguidedPartialIndexSup0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.recurrence_index__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_case_Missguided_Partial</targetReference>
            </connector>
            <label>IsMissguided Partial With Index Greater than 0</label>
        </rules>
        <rules>
            <name>IsMissguided_Partial_With_Index_equals_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.recurrence_index__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recherche_requete_devoye_full</targetReference>
            </connector>
            <label>IsMissguided Partial With Index equals 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Existing_Full_Missguided_case</name>
        <label>Decision Resultat Requête existante</label>
        <locationX>1651</locationX>
        <locationY>925</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoPartial_Missguided_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMissroutedPart.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recherche_existance_de_requete_devoye_complet_7jours</targetReference>
            </connector>
            <label>Pas de requête dévoyé partial</label>
        </rules>
        <rules>
            <name>Existing_Full_MissguidedFull_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMissroutedPart.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSearchcaseToAcase</targetReference>
            </connector>
            <label>Existance de requête dévoyé complet</label>
        </rules>
    </decisions>
    <interviewLabel>Traitement dévoyé partiel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Traitement dévoyé partiel</label>
    <loops>
        <name>LoopAlert</name>
        <label>LoopAlert</label>
        <locationX>446</locationX>
        <locationY>480</locationY>
        <assignNextValueToReference>Alert</assignNextValueToReference>
        <collectionReference>ListAlertInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recherche_information_compte</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Ceation_de_requete</name>
        <label>Ceation de requête</label>
        <locationX>397</locationX>
        <locationY>986</locationY>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recheche_recordtype_Ticket_manager_Fr</name>
        <label>Recheche recordtype Ticket manager France</label>
        <locationX>298</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TM_FR</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordTypeTM_Fr</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recherche_existance_de_requete_devoye_complet_7jours</name>
        <label>Recherche existance de requête devoyé complet 7jours</label>
        <locationX>1957</locationX>
        <locationY>1309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_requete_devoye_complet_existant</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Age_de_la_requete__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Colis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sous_motif_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dévoyés 100% cause relais</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SearchCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recherche_information_compte</name>
        <label>Recherche information compte</label>
        <locationX>721</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionTypeAlert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AnAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_operationnel_1__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recherche_requete_devoye_full</name>
        <label>Recherche requête dévoyés full</label>
        <locationX>1046</locationX>
        <locationY>788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_envoie_message_PDA</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Age_de_la_requete__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Colis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sous_motif_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dévoyés 100% cause relais</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseMissRoutedFull</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age_de_la_requete__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_case_Missguided_Partial</name>
        <label>Recherche requête Dévoyé Partial</label>
        <locationX>1680</locationX>
        <locationY>721</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result_Existing_Full_Missguided_case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Colis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sous_motif_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dévoyés partiels cause relais</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseMissroutedPart</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Mise_jour_requete_devoye_partiel</name>
        <label>Mise à jour requête devoyé partiel</label>
        <locationX>1229</locationX>
        <locationY>1202</locationY>
        <connector>
            <targetReference>Assignation_creation_requete_devoye_partiel</targetReference>
        </connector>
        <inputReference>Acase</inputReference>
    </recordUpdates>
    <startElementReference>Recheche_recordtype_Ticket_manager_Fr</startElementReference>
    <status>Active</status>
    <variables>
        <name>Acase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Adate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>AlertWsMsgPDA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>AnAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ATask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseMissRoutedFull</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseMissroutedPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListAlertInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListAlerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>listAlertWs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListCaseCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListCaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>List of created Date</description>
        <name>ListCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListDateFlow</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListPeriode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>ListTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>MissguidCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Periode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>recordTypeTM_Fr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Variable to store alert</description>
        <name>SearchAlert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>SearchCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
