src/flows/Traitement_retour_Message_PDA_Surcharge.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddTemporaryThreshold</name>
        <label>AddTemporaryThreshold</label>
        <locationX>1163</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>Periode.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Periode.Nom_du_compte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Periode.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adding1month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Periode.Seuil_temporaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.response_new_temporary_threshold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePeriode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignation_modification_seuil_contractuel_superieur_seuil_calcule</name>
        <label>Assignation modification seuil contractuel superieur seuil calculé</label>
        <locationX>1709</locationX>
        <locationY>903</locationY>
        <assignmentItems>
            <assignToReference>AnAccount.Seuil_contractuel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Seuil_calcule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_seuil_contractuel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignation_Requete_Surcharge</name>
        <label>Assignation Requête Surcharge</label>
        <locationX>947</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vie du relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>augmentation seuil temporaire</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordtype_ID_TM_Fr.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_case_overload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractuelthreshold</name>
        <label>AssignContractuelthreshold</label>
        <locationX>2069</locationX>
        <locationY>1155</locationY>
        <assignmentItems>
            <assignToReference>AnAccount.Seuil_contractuel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.response_new_Contractual_threshold__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractualthreshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAcase</name>
        <label>CreateAcase</label>
        <locationX>860</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>Case.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordtype_ID_TM_Fr.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vie du relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surcharge avérée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Creation_Periode_seuil_temporaire_superieur_seuil_calcule</name>
        <label>Creation Periode seuil temporaire superieur seuil calculé</label>
        <locationX>1370</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>Periode.Date_de_debut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Periode.Nom_du_compte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Periode.Date_de_fin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adding1month</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Periode.Seuil_temporaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Seuil_calcule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insertion_Periode_seuil_temporaire_superieur_seuil_calcule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modification_seuil_contractuel</name>
        <label>Modification seuil contractuel</label>
        <locationX>350</locationX>
        <locationY>936</locationY>
        <assignmentItems>
            <assignToReference>ATask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Traité</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATask.actions_performed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Modification seuil contractuel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_tache_modification_seuil_contractuelle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Retour_Tratement_Message_PDA</name>
        <label>Retour Tratement Message PDA</label>
        <locationX>281</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>Alert.Retour_Msg_PDA_Trait__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Alert.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAlert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Seuil_contractuel_superieur_seuil_Cal</name>
        <label>Création requête surcharge dans le cas ou le seuil contractuel dépasse le seuil calculé</label>
        <locationX>1196</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vie du relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Augmentation seuil contractuel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordtype_ID_TM_Fr.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PDA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_case_overload</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NombreJoursFinPeriode</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>QueueSurcharge</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G58000001ubpa</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Augmentation seuil</stringValue>
        </value>
    </constants>
    <constants>
        <name>TMFRRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0121q0000004RvW</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DecisionTypeAlert</name>
        <label>DecisionTypeAlert</label>
        <locationX>3326</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsSurchargeAndReponseOverloadA_TemporarylessthanMax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_overload_capacity_reach__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_new_temporary_threshold__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>AnAccount.Seuil_calcule__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddTemporaryThreshold</targetReference>
            </connector>
            <label>IsSurchargeAndReponseOverloadA Temporary less than max</label>
        </rules>
        <rules>
            <name>IsSurchargeAndReponseOverloadC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_overload_capacity_reach__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retour_Tratement_Message_PDA</targetReference>
            </connector>
            <label>IsSurchargeAndReponseOverloadC</label>
        </rules>
        <rules>
            <name>IsSurchargeAndReponseOverloadD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_overload_capacity_reach__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAcase</targetReference>
            </connector>
            <label>IsSurchargeAndReponseOverloadD</label>
        </rules>
        <rules>
            <name>IsSurchargeAndReponseOverloadA_Temporary_greater_than_max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_overload_capacity_reach__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_new_temporary_threshold__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>AnAccount.Seuil_calcule__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_Periode_seuil_temporaire_superieur_seuil_calcule</targetReference>
            </connector>
            <label>IsSurchargeAndReponseOverloadA Temporary greater than max</label>
        </rules>
        <rules>
            <name>IsSurchargeAndReponseOverloadB_Contractual_less_than_max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_overload_capacity_reach__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_new_Contractual_threshold__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>AnAccount.Seuil_calcule__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContractuelthreshold</targetReference>
            </connector>
            <label>IsSurchargeAndReponseOverloadB Contractual less than max</label>
        </rules>
        <rules>
            <name>IsSurchargeAndReponseOverloadB_Contractual_greater_than_max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Alert.alert_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_overload_capacity_reach__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alert.response_new_Contractual_threshold__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>AnAccount.Seuil_calcule__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignation_modification_seuil_contractuel_superieur_seuil_calcule</targetReference>
            </connector>
            <label>IsSurchargeAndReponseOverloadB Contractual greater than max</label>
        </rules>
    </decisions>
    <formulas>
        <name>Adding1month</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},1)</expression>
    </formulas>
    <interviewLabel>Traitement retour Message PDA Surcharge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Traitement retour Message PDA Surcharge</label>
    <loops>
        <name>LoopAlert</name>
        <label>LoopAlert</label>
        <locationX>487</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>Alert</assignNextValueToReference>
        <collectionReference>ListAlertInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SearchAccount</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_case_overload</name>
        <label>Create case overload</label>
        <locationX>626</locationX>
        <locationY>931</locationY>
        <connector>
            <targetReference>Retour_Tratement_Message_PDA</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>683</locationX>
        <locationY>347</locationY>
        <connector>
            <targetReference>Retour_Tratement_Message_PDA</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatePeriode</name>
        <label>CreatePeriode</label>
        <locationX>477</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Retour_Tratement_Message_PDA</targetReference>
        </connector>
        <inputReference>Periode</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Creation_tache_modification_seuil_contractuelle</name>
        <label>Creation tache modification seuil contractuelle</label>
        <locationX>118</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference>Retour_Tratement_Message_PDA</targetReference>
        </connector>
        <inputReference>ATask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insertion_Periode_seuil_temporaire_superieur_seuil_calcule</name>
        <label>Insertion Periode seuil temporaire superieur seuil calculé</label>
        <locationX>1116</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Assignation_Requete_Surcharge</targetReference>
        </connector>
        <inputReference>Periode</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Recordtype_TM_FR</name>
        <label>Recordtype TM_FR</label>
        <locationX>247</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TM_FR</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordtype_ID_TM_Fr</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SearchAccount</name>
        <label>SearchAccount</label>
        <locationX>929</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisionTypeAlert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AnAccount.Contact_operationnel_1__c</assignToReference>
            <field>Contact_operationnel_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AnAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AnAccount.Seuil_calcule__c</assignToReference>
            <field>Seuil_calcule__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AnAccount.Seuil_contractuel__c</assignToReference>
            <field>Seuil_contractuel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_seuil_contractuel</name>
        <label>update seuil contractuel</label>
        <locationX>1475</locationX>
        <locationY>918</locationY>
        <connector>
            <targetReference>Seuil_contractuel_superieur_seuil_Cal</targetReference>
        </connector>
        <inputReference>AnAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAlert</name>
        <label>UpdateAlert</label>
        <locationX>271</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <inputReference>Alert</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContractualthreshold</name>
        <label>UpdateContractualthreshold</label>
        <locationX>551</locationX>
        <locationY>1210</locationY>
        <connector>
            <targetReference>Modification_seuil_contractuel</targetReference>
        </connector>
        <inputReference>AnAccount</inputReference>
    </recordUpdates>
    <startElementReference>Recordtype_TM_FR</startElementReference>
    <status>Active</status>
    <variables>
        <name>Adate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>AnAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ATask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListAlertInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListAlerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListCaseCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListDateFlow</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListPeriode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>ListTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Periode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>recordtype_ID_TM_Fr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
