src/flows/Traitement_alerte_Surcharge.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Appel_message_PDA</name>
        <label>Appel message PDA</label>
        <locationX>582</locationX>
        <locationY>585</locationY>
        <actionName>WsRequestSurvey</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <inputParameters>
            <name>listAlert</name>
            <value>
                <elementReference>AlertWSMsgPda</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assignation_creation_requete_surcharge</name>
        <label>Assignation creation requête surcharge</label>
        <locationX>886</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordtypeTM_Fr.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vie du relais</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sous_motif_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Canal_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Sens_du_contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sortant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Contact_operationnel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnAccount.Contact_operationnel_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ceation_de_requete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignation_variable_alert_ws</name>
        <label>Assignation variable alert ws</label>
        <locationX>750</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>AlertWSMsgPda</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appel_message_PDA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSearchcaseToAcase</name>
        <label>AssignSearchcaseToAcase</label>
        <locationX>1923</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Acase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cloture_de_la_requete_existante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cloture_de_la_requete_existante</name>
        <label>Cloture de la requête existante</label>
        <locationX>1537</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>Acase.Traite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Acase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Acase.recurrence_index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alert.recurrence_index__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mise_jour_requete_devoye_partiel</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NombreJoursFinPeriode</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>QueueSurcharge</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G58000001ubpa</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Augmentation seuil</stringValue>
        </value>
    </constants>
    <constants>
        <name>TMFRRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120D0000004W5B</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_alert_surcharge_repondu_moins_7_jours</name>
        <label>Decision alert surcharge repondu moins 7 jours</label>
        <locationX>868</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>alert_existant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlertExistantSurcharge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAlert</targetReference>
            </connector>
            <label>alert existant</label>
        </rules>
        <rules>
            <name>alert_inexistant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlertExistantSurcharge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignation_variable_alert_ws</targetReference>
            </connector>
            <label>alert inexistant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_requete_surcharge_7_derniers_jours</name>
        <label>Decision requête surcharge 7 derniers jours</label>
        <locationX>1280</locationX>
        <locationY>303</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requete_surcharge_7_derniers_jours_inexistants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseOverload7days.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recherche_alert_surcharge_7_derniers_jours</targetReference>
            </connector>
            <label>Requête surcharge 7 derniers jours inexistants</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Existing_Overload_case</name>
        <label>Decision Resultat Requête surcharge existante</label>
        <locationX>1702</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Overload_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSearchcaseToAcase</targetReference>
            </connector>
            <label>Requête surcharge existante</label>
        </rules>
        <rules>
            <name>Requete_surcharge_inexistante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SearchCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recherche_requete_surcharge_cloture_dans_les_7_derniers_jours</targetReference>
            </connector>
            <label>Requête surcharge inexistante</label>
        </rules>
    </decisions>
    <description>Traitement des alertes surcharge reçus de la BI</description>
    <interviewLabel>Traitement Alert Surcharge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Traitement Alert Surcharge</label>
    <loops>
        <name>LoopAlert</name>
        <label>LoopAlert</label>
        <locationX>370</locationX>
        <locationY>45</locationY>
        <assignNextValueToReference>Alert</assignNextValueToReference>
        <collectionReference>ListAlertInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recherche_information_pudo_alerte</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Ceation_de_requete</name>
        <label>Ceation de requête</label>
        <locationX>488</locationX>
        <locationY>670</locationY>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>recherche_alert_surcharge_7_derniers_jours</name>
        <label>recherche alert surcharge 7 derniers jours</label>
        <locationX>991</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_alert_surcharge_repondu_moins_7_jours</targetReference>
        </connector>
        <filters>
            <field>Age_Alert__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Alert.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>alert_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <filters>
            <field>pudo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <object>Alert__c</object>
        <outputReference>AlertExistantSurcharge</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Age_Alert__c</queriedFields>
        <queriedFields>alert_type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recherche_information_pudo_alerte</name>
        <label>Recherche information pudo de l&apos;alerte</label>
        <locationX>964</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_case_Missguided_full</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AnAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_operationnel_1__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recherche_Recordtype_ID</name>
        <label>Recherche Recordtype ID</label>
        <locationX>156</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAlert</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TM_FR</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>recordtypeTM_Fr</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Recherche_requete_surcharge_cloture_dans_les_7_derniers_jours</name>
        <label>Recherche requête surcharge cloturé dans les 7 derniers jours</label>
        <locationX>1437</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_requete_surcharge_7_derniers_jours</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Age_de_la_requete__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vie du relais</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sous_motif_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminée</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseOverload7days</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_case_Missguided_full</name>
        <label>Recherche requête Dévoyé full</label>
        <locationX>1626</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Result_Existing_Overload_case</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Alert.pudo__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vie du relais</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sous_motif_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Surcharge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SearchCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>recurrence_index__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Mise_jour_requete_devoye_partiel</name>
        <label>Mise à jour requête devoyé partiel</label>
        <locationX>1194</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>Assignation_creation_requete_surcharge</targetReference>
        </connector>
        <inputReference>Acase</inputReference>
    </recordUpdates>
    <startElementReference>Recherche_Recordtype_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>Acase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Adate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Alert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>AlertExistantSurcharge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>AlertWSMsgPda</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>AnAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ATask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseMissRoutedFull7days</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseMissroutedPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseOverload7days</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListAlertInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListAlerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListAlertWs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>ListCaseCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ListCaseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>List of created Date</description>
        <name>ListCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListDateFlow</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListPeriode</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>ListTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>MissguidCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Periode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Periode__c</objectType>
    </variables>
    <variables>
        <name>recordtypeTM_Fr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <description>Variable to store alert</description>
        <name>SearchAlert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>SearchCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
